woname/architectures/__pycache__
woname/architectures/backbones/__pycache__
woname/architectures/backbones/models/__pycache__
woname.egg-info
tests/__pycache__
woname.egg-info
woname/vision/segmentation/models/__pycache__
woname/vision/segmentation/__pycache__