woname/architectures/__pycache__
woname/architectures/backbones/__pycache__
woname/architectures/backbones/models/__pycache__
woname.egg-info
tests/__pycache__
woname.egg-info
woname/vision/segmentation/models/__pycache__
woname/vision/segmentation/__pycache__
woname/architectures/heads/__pycache__
woname/architectures/heads/models/__pycache__
woname/losses/__pycache__
woname/losses/segmentation/__pycache__
woname/evaluators/__pycache__
woname/evaluators/segmentation/__pycache__
woname/transforms/__pycache__
data
woname/datasets/__pycache__
woname/datasets/segmentation/__pycache__